.Todo-title {
  font-size: 35px;
  color: orange;
  margin: 15px 0;
  text-align: center;
  font-weight: 600;
}
.Todo-container {
  margin: 50px auto;
  width: 600px;
}
.Todo-new {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.Todo-data {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Todo-image {
  text-align: center;
  margin-top: 15px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
